!!! 5
html
  head
    title= views.siteName
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/jquery.flot.min.js')
    script(type='text/javascript', src='/js/jquery.flot.stack.min.js')
    script(type='text/javascript', src='/js/jquery.flot.resize.min.js')
    script(type='text/javascript', src='/js/jquery.flot.multihighlight.min.js')
    script(type='text/javascript', src='/js/flower.js')
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/")= views.siteName
          div.nav-collapse
            ul.nav
              li
                a(href="/") You
              li
                a(href="/banned") Banned users list
              li.dropdown
                a.dropdown-toggle(data-toggle="dropdown", href="#") Category
                  b.caret
                ul.dropdown-menu
                  li
                    a Foo
                  li
                    a Bar
            form.navbar-search.pull-right
              input(type="text", class="search-query", placeholder="Search IP")
    div.container!= body
