!!! 5
html
  head
    title flower
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/jquery.flot.min.js')
    script(type='text/javascript', src='/js/jquery.flot.stack.min.js')
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          a.brand(href="/") ✿ flower
    div.container-fluid
      div.row-fluid
        div.span3
          div.well.sidebar-nav
            ul#nav.nav.nav-list
              li
                a(href="/") You
              li
                a(href="/banned") Banned users list
              li.nav-header TODO: Categories
              li
                a Foo
              li
                a Bar
        div.span9!=body
