body {
  padding-top: 60px;
} 

div.total div.number {
  font-size: 5em;
  line-height: 1.2em;
  font-weight: 300;
}

div.updown div.number {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 300;
}

#graph {
  margin-top: 10px;
  height: 350px;
  width: 100%;
}
