body {
  padding-top: 60px;
} 

div.total div.number {
  font-size: 5em;
  line-height: 1.2em;
  font-weight: 300;
}

h2 {
  margin-top: 10px;
}

div.updown div.number {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 300;
}

#graph {
  margin-top: 10px;
  height: 350px;
  width: 100%;
}

@media (max-width:767px) {
#graph {
  height: 250px;
}
}

@media (max-width:480px) {
#graph .tickLabels .xAxis .tickLabel:nth-child(2n) {
  display: none;
}

div.total div.number {
  font-size: 3em;
}
}
